body {
    font-family: 'roboto';
}
.navbar-brand {
    height: 50px;
}
.site-title {
    text-transform: uppercase;
}
.jumbotron {
    text-align: center;
}
h2 {
    text-transform: uppercase;
}



/* ------------------------------------ FOOTER ------------------------------------*/

footer{
    margin-top: 5%;
    padding-top: 2%;
}
.tfooter {
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    text-align: center;
}
.pfooter {
    color: white;
}
.tlinks{
    color: white;
}
.ulfooter{
    list-style: none;
}
