body {
    font-family: 'roboto';
}
.navbar-brand {
    height: 50px;
}
.site-title {
    text-transform: uppercase;
}
.jumbotron {
    text-align: center;
}
h2 {
    text-transform: uppercase;
}
#item {
    display: flex;
    text-align: center;
    align-items: center;
}
.picture {
    height: 150px;
    margin-right: 20px;
}
.id {
    display: none;
}
.name {
    background-color: gray;
}



/* ------------------------------------ CARD ------------------------------------ */

.card {
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top {
    height: 150px;
}
.card-title {
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: darkslategrey;
    color: white;
}
.card-text {
    font-weight: bolder;
}






/* ------------------------------------ FOOTER ------------------------------------*/

footer{
    margin-top: 5%;
    padding-top: 2%;
}
.tfooter {
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    text-align: center;
}
.pfooter {
    color: white;
}
.tlinks{
    color: white;
}
.ulfooter{
    list-style: none;
}
