body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------ Header ------------------------------------ */

.site-title {
    text-transform: uppercase;
}

/* ------------------------------------ Jumbotron ------------------------------------ */

h2 {
    text-align: center;
    text-transform: uppercase;
}
h3 {
    text-align: center;
}
.orspan {
    color: orange;
}


/* ------------------------------------ Main index ------------------------------------ */



/* ------------------------------------ Footer ------------------------------------ */

footer{
    margin-top: 5%;
    padding-top: 2%;
}
.pfooter {
    color: white;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
}
.mlfooter {
    float: left;
    color: orange;
}
.cnfooter {
    float: right;
    color: orange;
}
.cofooter {
    color: white;
    text-align: center;
    padding-bottom: 3%;
}
.orfooter {
    color: orange;
}

/* ------------------------------------ Main panier ------------------------------------ */


.basket-title {
    color: white;
    text-transform: uppercase;
    font-size: larger;
}

#total-price {
    color: orange;
    text-transform: uppercase;
    font-size: larger;
}
.titreformulaire {
    color: white;
}

.label {
    color: orange;
}
.submitbtn {
    color: orange;
    padding-bottom: 5%;
}
.containerpanier {
    border: solid 2px orange;
    padding-top: 3%;
}
.containerformulaire {
    border: solid 2px orange;
    padding-top: 3%;
}


.containerndc {
    border: solid 3px orange;
}
.confirmation-title{
    color: white;
}
.ncommande {
    text-transform: uppercase;
    color: orange;
}
.pcommande {
    text-transform: uppercase;
    color: orange;
}